body {
  box-sizing: border-box;
  display: block;
	font-family: sans-serif;
	text-align: center;
  background-color: #fafafa;
}

.wrapper {
  height: 100vh;
  width: 100%;
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
}

.headercontent {
  display: block;
  top: 0;
  width: 100%;
  position: fixed;
  height: 72px;
  box-shadow: 0 5px 12px rgba(8, 41, 71, 0.12);
  margin: 0px auto;
  z-index: 5;
}

.footercontent {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 4;
}

.navlist {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.signin {
  float: right;
}

.main {
  display: block;
  position: relative;
  top: 72px;
}

.intro {
  display: flex;
  height: 45vh;
  align-items: center;
  justify-content: center;
}

.stslogo {
  width: 100%;
  height: auto;
  margin: auto;
  max-height: 30vh;
}

.parallax::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  height: 100vh;
  z-index: -1;
}

.bg::after {
  position: absolute;
  background-image: url(../images/cloudbackground.jpg);
  background-repeat: no-repeat;
}

.content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: inline;
  width: 100%;
}

.box1 {
  width: 33%;
  float: left;
  padding: 10px;
}

.box2 {
  width: 33%;
  float: left;
  padding: 10px;
}

.box3{
  width: 33%;
  float: left;
  padding: 10px;
}

.boxes img {
  width: 100%;
  height: auto;
}

.whitebg {
  background-color: #faf9fa;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
