* {
  margin: 0;
}

html{
  height: 100%;
  overflow: hidden;
}

body {
  display: block;
  height: 100%;
	font-family: sans-serif;
  background-color: #f9f9f9;
  transform-style: preserve-3d;
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
}



/* ------ TOPBAR ------ */
.home-topbar {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
}


/* NAVIGATION */

nav {
  width: 50%;
}

.burgerMenu {
  margin: 0;
  padding: 5px;
  z-index: 50;
}

.burgerMenu a {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.burgerMenu a:hover {
  color: pink;
}

.burgerMenu-toggle {
  display: block;
  position: absolute;
  float: right;
  top: 2em;
  right: 2em;
  z-index: 51;
  user-select: none;
  -webkit-user-select: none;
}

.burgerMenu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 52;
  -webkit-touch-callout: none;
}

.burgerMenu-toggle label {
  display: none;
  position: relative;
  z-index: 51;
  transition: 0.3s;
}

.burgerMenu-toggle input:checked ~ label {
  color: #333333;
}

.burgerMenu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f9f9f9;
  border-radius: 3px;
  z-index: 51;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease;
}

.burgerMenu-toggle span:first-child {
  transform-origin: 0 0;
}

.burgerMenu-toggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}

.burgerMenu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333333;
}

.burgerMenu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burgerMenu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.burgerMenu {
  position: absolute;
  right: -50px;
  width: 200px;
  height: 100vh;
  margin: -100px 0 0 0px;
  padding: 50px;
  padding-top: 125px;
  background: #f9f9f9;
  box-shadow: -5px 0 12px rgba(8, 41, 71, 0.12);

  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.burgerMenu li {
  padding: 10px 0;
  font-size: 22px;
  list-style-type: none;
}

.burgerMenu-toggle input:checked ~ ul {
  transform: none;
}

.burgerMenu-toggle input:checked {
  scroll-behavior: none;
}

.navOpenOverlay {
  position: fixed;
  top: -82px;
  bottom: -82px;
  height: 200vh;
  width: 200vw;
  background-color: rgba(0, 0, 0, .7);
}

#navOverlay {
  transition: 0.3s;
}

.noScroll {
  overflow: hidden;
  position: fixed;
}

.fadeOut {
  opacity: 0;
}

.clearOut {
  background: transparent;
  box-shadow: 0 5px 12px rgba(8, 41, 71, 0);
}






/* SIGN IN */
.signin {
  width: 50%;
  transition: 0.3s;
}

.signin .sign-in-link {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  margin: 1.5em;
}

.signin .sign-in-icon {
  height: 34px;
  width: 34px;
  margin: 0;
}

.signin .sign-in-btntext {
  margin: auto 0 auto 0.5em;
}


/* ------ PARALLAX HEADER ------ */

header {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header::before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url(../images/cloudbackground.jpg);
  background-size: calc(100vh + 10px) auto;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.stslogo-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.stslogo {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 30vh;
  transition: 0.3s;
}


/* ARROWS */

.arrow {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 5%;
  transition: 0.3s;
}

.arrow path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
}

@keyframes arrow {
0% {opacity:0}
40% {opacity:0.5}
80% {opacity:0}
100% {opacity:0}
}



/* ------ CONTENT AREA ------ */

main {
  box-sizing: border-box;
  min-height: calc(50vh - 140px);
  width: 100vw;
  padding: 1em 0.5em 3em 0.5em;
  box-shadow: 0 -5px 12px rgba(8, 41, 71, 0.18);
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box {
  width: 100%;
  height: auto;
}

.box img {
  width: 100%;
  height: auto;
}

/*CLEARFIX*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* ------ FOOTER ------ */

footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 140px;
  background-color: #333333;
  box-shadow: 0 -5px 12px rgba(8, 41, 71, 0.12);
}

footer p {
  color: #f9f9f9;
  margin: 0;
}

.whitebg {
  background-color: #f9f9f9;
}



/* ------ MEDIA QUERIES ------ */

/* -- LANDSCAPE DIMENSIONS -- */
@media (orientation: landscape) {
  header:before {
    background-size: cover;
  }
}

@media (min-width: 600px) {
  .box-container {
    flex-direction: row;
  }
  .box {
    width: 33%;
    padding: 0.5em;
  }

}


/* -- NAV MENU -- */
@media (min-width: 760px) {
  .burgerMenu-toggle label {
    display: block;
  }

  .burgerMenu-toggle span {
    display: none;
  }

  .navOpenOverlay {
    display: none;
  }

  .fadeOut {
    opacity: 100;
  }

  .clearOut {
    background: transparent;
    box-shadow: 0 5px 12px rgba(8, 41, 71, 0);
  }

  .iLeave {
    display: ;
  }

}


/* -- TABLETS -- */

/* iPad 1, 2, Mini and Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* iPad 3, 4 and Pro 9.7" */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPad Pro 10.5" */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPad Pro 12.9" */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
}


/* -- LAPTOPS -- */

/* Non-Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}