* {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  display: block;
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-size: 14px;
}

/* ------ HEADER ------ */

header {
  background: #f5f5f5;
  position: fixed;
  top: 0;
  height: 82px;
  width: 100%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.main-spacer {
  height: 82px;
  display: block;
}

/* - Parallax Header - */

header#homepage-header {
  box-sizing: border-box;
  height: 90vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background: transparent;
  box-shadow: none;
}

header#homepage-header::before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url(../images/sts-bg-mobile.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

/* -- TOPBAR -- */
.topbar {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  color: #fff;
}


/* -- Homepage TOPBAR -- */
.home-topbar {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
}


/* NAVIGATION */

nav {
  width: 50%;
}

.burgerMenu-toggle {
  display: block;
  position: absolute;
  float: right;
  top: 2em;
  right: 2em;
  z-index: 51;
  user-select: none;
  -webkit-user-select: none;
}

.burgerMenu {
  margin: 0;
  padding: 5px;
  overflow: hidden;
}

.burgerMenu a {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.burgerMenu a:hover {
  color: pink;
}

.burgerMenu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 52;
  -webkit-touch-callout: none;
}

.burgerMenu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #333333;
  z-index: 51;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease;
}

#home-burger-toggle span {
  background: #f9f9f9;
}

.burgerMenu-toggle span:first-child {
  transform-origin: 0 0;
}

.burgerMenu-toggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}

.burgerMenu-toggle input:checked ~ span,
#home-burger-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333333;
  border-radius: 3px;
}

.burgerMenu-toggle input:checked ~ span:nth-last-child(3),
#home-burger-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.burgerMenu-toggle input:checked ~ span:nth-last-child(2),
#home-burger-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.burgerMenu {
  position: absolute;
  right: -50px;
  width: 200px;
  height: 200vh;
  margin: -100px 0 0 0px;
  padding: 50px;
  padding-top: 125px;
  background: #f9f9f9;
  box-shadow: -5px 0 12px rgba(8, 41, 71, 0.12);

  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.burgerMenu li {
  padding: 10px 0;
  font-size: 22px;
  list-style-type: none;
}

.burgerMenu-toggle input:checked ~ ul {
  transform: none;
  position: absolute;
}

.burgerMenu-toggle input:checked {
  scroll-behavior: none;
}

.navOpenOverlay {
  position: absolute;
  height: 200vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  z-index: 40;
}

#navOverlay {
  transition: 0.3s;
}

.noScroll {
  overflow: hidden;
}

.fadeOut {
  opacity: 0;
}

.clearOut {
  background: transparent;
  box-shadow: 0 5px 12px rgba(8, 41, 71, 0);
}

.iLeave {
  display: none;
}






/* SIGN IN */
.signin {
  width: 50%;
  transition: 0.3s;
  z-index: 5;
}

.signin .sign-in-link {
  display: inline-flex;
  text-decoration: none;
  color: #333;
  margin: 1.5em;
}

.signin .sign-in-link#homepage-login {
  color: #fff;
}

.signin .sign-in-icon {
  height: 34px;
  width: 34px;
  margin: 0;
}

.signin .sign-in-btntext {
  margin: auto 0 auto 0.5em;
}






.stslogo-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.stslogo {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 30vh;
  transition: 0.3s;
}


/* ARROWS */

.arrow {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 5%;
  transition: 0.3s;
}

.arrow path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
}

@keyframes arrow {
0% {opacity:0}
40% {opacity:0.5}
80% {opacity:0}
100% {opacity:0}
}



/* ------ CONTENT AREA ------ */

main {
  display: block;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

main#home-main {
  box-sizing: border-box;
  min-height: calc(50vh - 140px);
  padding: 1em 0.5em 3em 0.5em;
  box-shadow: 0 -5px 12px rgba(8, 41, 71, 0.18);
}

main h1 {
  display: inline-block;
  margin: 0.5em auto 0.5em auto;
}

.content-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box {
  width: 100%;
  height: auto;
}

.box img {
  width: 100%;
  height: auto;
}


/*blog*/
.post-card {
  display: block;
  max-width: 500px;
  padding: 1.5%;
  margin: 1% auto 2% auto;
}

.post-card a {}

.post-card h4 {
  text-align: left;
  margin: 2% 0 1% 0;
}

.post-card p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 3%;
}

.post-image {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66%;
  box-shadow: 0 4px 6px rgba(8, 41, 71, 0.2);
}

#post-1 .post-image {
  background: url("http://placeimg.com/600/400/arch");
  background-size: contain;
}

#post-2 .post-image {
  background: url("http://placeimg.com/600/400/arch");
  background-size: cover;
}

#post-3 .post-image {
  background: url("http://placeimg.com/600/400/arch");
  background-size: cover;
}



/*gallery*/





/*products*/
.filters {
  display: flex;
  max-width: 600px;
  padding: 2%;
  margin: 0 auto;
  border-bottom: 1px rgba(150, 150, 150, 0.12) solid;
}

.product-filter h1 {
  flex-grow: 1;
}




.grid-product-container {
  padding: 3.5% 2%;
  display: grid;
  grid-gap: 4% 4%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  margin: 0 auto;
}

.product-card {
  max-width: 100%;
  min-width: 0;
  height: auto;
}

.product-img img {
  height: auto;
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}





.whitebg {
  background-color: #fafafa;
}

/*CLEARFIX*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* ------ FOOTER ------ */

footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 140px;
  background-color: #333333;
  box-shadow: 0 -5px 12px rgba(8, 41, 71, 0.12);
  z-index: -1;
  transition: 0.3s;
}

footer p {
  color: #f9f9f9;
  margin: 0;
}



/* ------ MEDIA QUERIES ------ */

@media (min-width: 315px) {
  .grid-product-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 430px;
  }
  .filters {
    max-width: 430px;
  }
}

@media (min-width: 625px) {
  .grid-product-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    padding: 2%;
  }
  .filters {
    max-width: 600px;
    border-bottom: none;
  }
}

@media (min-width: 800px) {
  .grid-product-container {
    max-width: 800px;
  }
  .filters {
    max-width: 800px;
  }

  header#homepage-header::before {
    background-image: url(../images/sts-bg-medium.jpg);
  }
}

@media (min-width: 1200px) {
  .grid-product-container {
    max-width: 800px;
  }
  .filters {
    max-width: 800px;
  }

  header#homepage-header::before {
    background-image: url(../images/sts-bg-large.jpg);
  }
}


/* -- LANDSCAPE DIMENSIONS -- */
/*@media (orientation: portrait) {
  header#homepage-header::before {
    background-size: cover;
  }
}*/

@media (min-width: 600px) {
  .box-container {
    flex-direction: row;
  }
  .box {
    width: 33%;
    padding: 0.5em;
  }

}


/* -- NAV MENU -- */
@media (min-width: 760px) {
  .burgerMenu {
    width: 100px;
    padding: 20px;
    padding-top: 125px;
    background: #fff;
  }

  .navOpenOverlay {
    background-color: transparent;
  }

  .fadeOut {
    opacity: 1;
  }

  .iLeave {
    display: block;
  }

}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  html {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
    transform-style: none;
    perspective: none;
  }

  header#homepage-header::before {
    transform-origin: none;
    transform: none;
  }
}







/* -- TABLETS -- */

/* iPad 1, 2, Mini and Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* iPad 3, 4 and Pro 9.7" */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPad Pro 10.5" */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPad Pro 12.9" */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
}


/* -- LAPTOPS -- */

/* Non-Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* Retina Screens */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}