input, textarea {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px;
  background-color: #eaeaea;
  color: #333;
  margin: 15px;
  width: 85%;
  transition: 0.2s;
}

input:focus, textarea:focus {
  background-color: #dcdcdc;
}

textarea {
  min-height: 13vh;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  box-sizing: border-box;
  width: 100vw;
  max-width: 480px;
  max-height: 70vh;
  margin: 0 auto;
  padding: 3vh 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form .form-container {
  min-height: 495px;
  margin-bottom: 70px;
}

.photosubmit-form .form-container {
  min-height: 340px;
  margin-bottom: 40px;
}

.form-description {
  text-align: left;
  opacity: 0.7;
  font-size: 0.9rem;
  margin: 0 0 10%;
}

.form-label {
  align-self: start;
  margin-left: 5%;
  margin-bottom: -10px;
  opacity: 0.7;
  font-size: 0.9rem;
}

.form-suggestion {
  margin: 5%;
}

.form-inputbox {
  margin: 0 0 10%;
}

.submit-btn {
  max-width: 150px;
  min-height: 38px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.8);
  font-size: 1rem;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: #d2d2d2;
  color: rgba(51, 51, 51, 1);
}