/* ------ MEDIA QUERIES ------ */


@media (min-width: 315px) {
  .grid-product-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 430px;
  }  .filters {
    max-width: 430px;
  }
}

@media (min-width: 560px) {
  .gridbox-2x2 {
    grid-template-areas: "featured secondary"
                          "featured tertiary";
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .linkbox-container {
    flex-direction: row;
  }
  .linkbox {
    width: 31.2%;
    margin: 1%;
  }
  .linkbox h1 {
    margin: 20% auto;
    font-size: 2rem;
    }
  .photo-sub-banner {
    width: 100%;
    margin: auto;
    background: #f5f5f5;
    box-shadow: 0 2px 2px rgba(8, 41, 71, 0.12);
  }
  .photo-sub-banner h2 {
    position: relative;
    margin: auto;
    font-size: 30px;
  }
  .photo-sub-banner img {
    height: 120px;
  }
}

@media (min-width: 625px) {
  .grid-product-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    padding: 2%;
  }  
  .filters {
    max-width: 600px;
    border-bottom: none;
  }
  .image-grid-content {
    width: 21%;
    padding-top: 21%;
  }
  .boxes-container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .boxes-mainbox {
    padding: 0.5em;
  }
  .dimmer {
    opacity: 0.65;
    transition: 0.2s;
  }
  .dimmer:hover {
    opacity: 0;
  }
}

@media (min-width: 760px) {
  header.parallax {
    height: 70vh;
  }
  .burgerMenu {
    width: 100px;
    padding: 20px;
    padding-top: 125px;
    background: #fff;
  }
  .burgerMenu li {
  font-size: 1.375rem;
}
  .navOpenOverlay {
    background-color: transparent;
  }
  .fadeOut {
    opacity: 1;
  }
  .iLeave {
    display: block;
  }
}

@media (min-width: 800px) {

  .grid-product-container {
    max-width: 800px;
  }  .filters {
    max-width: 800px;
  }
  .image-grid-content {
    width: 15%;
    padding-top: 15%;
  }
  header.parallax::before {
    background-image: url(../images/sts-bg-medium.jpg);
  }
  .photo-sub-banner h2 {
    font-size: 40px;
  }
  .photo-sub-banner img {
    height: 160px;
  }
}

@media (min-width: 1000px) {
  .photo-sub-banner h2 {
    font-size: 50px;
  }
  .photo-sub-banner img {
    height: 180px;
  }
}

@media (min-width: 1200px) {
  .image-grid {
    max-width: 1200px;
  }
  .grid-product-container {
    max-width: 900px;
  }  .filters {
    max-width: 900px;
  }  header.parallax::before {
    background-image: url(../images/sts-bg-large.jpg);
  }
  .photo-sub-banner h2 {
    font-size: 60px;
  }
  .photo-sub-banner img {
    height: 200px;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  body {
    transform-style: flat;
    perspective: none;
    height: auto;
  }
  header.parallax::before {
    transform-origin: none;
    transform: none;
  }
}